@import './base.scss';
@import './element-var.scss';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}


::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: rgba(4, 31, 46, 0.6);
  transition: all 0.2s;
  border-radius: 2px;

  &:hover {
    background-color: rgba(4, 31, 46, 0.6);
  }
}

::-webkit-scrollbar-track {
  background: transparent;
}
